{{!-- Partial for My Wedding Page --}}

<div class="dashboard-page">
    <div class="row">
        <div class="col-4 dashboard-nav-div">
            <div class="profile-pic-div">
                <img src="#" />
                {{#each couple}}
                <h5>{{partner1_name}} &</br>
                {{partner2_name}}</h5>
            </div>

            <div class="nav-btns-div">
                <button class="dashboard-nav-btn btn">Guest List</button>
                <button class="dashboard-nav-btn btn">Slide Show</button>
            </div>
        </div>

        <div class="col-8 dashboard">
            <div class="dashboard-title-div">
                <div class="dashboard-title">
                    <h2>My Wedding</h2>
                </div>

                <div class="dashboard-subtitle">
                    {{!-- Is there a better way to destructure our data object? --}}
                    <h4>#{{wedding.wedding_hashtag}}</h4>
                </div> 
            </div>

            <div class="dashboard-widget">
                <div class="my-wedding-info-widget-title">
                    <h3>Wedding Information</h3>
                </div>

                </div class="my-wedding-info-widget-info">
                
                    <h3>Date: {{wedding.wedding_date}}</h3> </br>
                    <h3>Location: {{wedding.wedding_location}}</h3>
                    <h3>Wedding Details: {{wedding.wedding_details}}</h3>
                    {{/each}}
                    {{!-- possibly include map in widget? --}}
                </div>
                
                <button class="dashboard-nav-btn btn">Edit My Wedding</button>

                {{!-- possibly include another widget for weather?--}}
            </div>
        </div>
    </div>
</div>

{{!-- <script src="/javascript/dashboard.js"></script> --}}