<div class="my-wedding-info-">
  {{#each wedding}}
  <h4>{{wedding_date}}</h4> </br>
  <h4>{{wedding_location}}</h4> </br>
  <h5>{{wedding_details}}</h5>
  {{/each}}
</div>

{{!-- 
</div class="my-wedding-info-widget-info">
    <h4>{{wedding_date}}</h4> </br>
    <h4>{{wedding_location}}</h4> </br>
    <h5>{{wedding_details}}</h5>
    {{/each}}
</div> --}}