 <div class="dashboard-page">
    {{#if engaged}}
    
        <div class="row">
            <div class="col-4 dashboard-nav-div">
                <div class="profile-pic-div">
                    <img src="#" />
                    {{#each couple}}
                    <h5>{{partner1_name}} &</br>
                    {{partner2_name}}</h5>
                </div>

                <div class="nav-btns-div">
                    <a href="#" class="dashboard-nav-btn btn">My Wedding</a>
                    <a href="#" class="dashboard-nav-btn btn">Guest List</a>
                    <a href="/gallery" class="dashboard-nav-btn btn">Slide Show</a>
                </div>
            </div>

            <div class="col-8 dashboard">
                <div class="dashboard-title-div">
                    <div class="dashboard-title">
                        <h2>My Wedding</h2>
                    </div>

                    <div class="dashboard-subtitle">
                        {{!-- Is there a better way to destructure our data object? --}}
                        
                        <h4>{{wedding.wedding_hashtag}}</h5>
                    </div> 
                </div>

                <div class="dashboard-widget">

                    </div class="my-wedding-info-widget-info">
                        <h4>{{wedding.wedding_date}}</h4> </br>
                        <h4>{{wedding.wedding_location}}</h4> </br>
                        <h5>{{wedding.wedding_details}}</h5>
                        {{/each}}
                        <button class="dashboard-nav-btn btn" id="edit-wedding-btn">Edit My Wedding</button>
                    </div>
                    
                    
                    {{!-- possibly include another widget for weather?--}}
                </div>
            </div>

            </div>
        </div>
    {{/if}}

    {{#unless engaged}}
        <div class="row">
            <div class="col-4 dashboard-nav-div">
                <div class="profile-pic-div">
                    <img src="#" />
                    <h5>name placeholder{{full_name}}</h5>
                   
                </div>

                <div class="nav-btns-div">
                    <button class="dashboard-nav-btn btn">Your Upcoming Weddings</button>
                    <button class="dashboard-nav-btn btn">Invites</button>
                    <button class="dashboard-nav-btn btn">Slide Shows</button>
                </div>
            </div>

            <div class="col-8 dashboard">
                <div class="dashboard-title">
                    <h2>Your Weddings</h2>
                </div>

                <div class="dashboard-widget">
                    </div class="my-wedding-info-widget-info">
                        <ul>
                            {{#each userWedding}}
                            {{> upcoming-weddings}}
                            {{/each}}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    {{/unless}}
</div>

<script src="/javascript/dashboard.js"></script>