<div class="dashboard-page">
        {{#if user.engaged}}

            <div class="col-12 dashboard-navbar-wrapper">
                <button class="dashboard-nav-btn">Your Weddings</button>
                <button class="dashboard-nav-btn">Guest List</button>
                <button class="dashboard-nav-btn">Slide Show</button>
            </div>

            <div class="col-12 dashboard-wrapper">
                <div class="col-4 logo-dashboard-div">
                    {{!-- update with logo and remove css for icon on line 115-sh --}}
                    <i class="fas fa-heart"></i>
                </div>

                <div class="col-8 toggle-my-wedding">
                    <div class="dashboard">
                        <div class="dashboard-title-div">
                            <div class="dashboard-title">
                                <h2>My Wedding</h2>
                            </div>

                            <div class="dashboard-subtitle">
                                {{#each couple}}
                                <h3>{{partner1_name}} & {{couple.partner2_name}}</h3> </br>
                                <h4>#{{couple.wedding_id}}</h4>
                                {{/each}}
                            </div> 
                        </div>

                        <div class="dashboard-widget">
                            <div class="my-wedding-info-widget-title">
                                <h3>Wedding Information</h3>
                            </div>

                            </div class="my-wedding-info-widget-info">
                                <h3>Date: {{wedding.date}}</h3> </br>
                                <h3>Location: {{wedding.location}}</h3>
                                <h3>Wedding Details: {{wedding.wedding_details}}</h3>
                                {{!-- possibly include map in widget? --}}
                            </div>

                            {{!-- possibly include another widget for weather?--}}
                        </div>
                    </div>
                </div>

                <div class="col-8 toggle-guestlist">
                    <div class="dashboard">
                        <div class="dashboard-title">
                            <h2>Guest List</h2> </br>
                        </div>

                        <div class="dashboard-widget">
                            <h3>{{guestlist}}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-8 toggle-slide-show">
                    <div class="dashboard">
                        <div class="dashboard-title">
                            <h2>Slide Show</h2> </br>
                        </div>

                        <div class="dashboard-widget">
                            {{! import slide show here }}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        {{#unless user.engaged}}
            <div class="col-12 dashboard-navbar-wrapper">
                <button class="dashboard-nav-btn">Your Weddings</button>
                <button class="dashboard-nav-btn">Invites</button>
                <button class="dashboard-nav-btn">Slide Shows</button>
            </div>

            <div class="col-12 dashboard-wrapper">
                <div class="col-4 logo-dashboard-div">
                    {{!-- update with logo and remove css for icon on line 115-sh --}}
                    <i class="fas fa-heart"></i>
                </div>

                <div class="col-8 toggle-your-weddings">
                    <div class="dashboard">
                        <div class="dashboard-title">
                            {{#each couple}}
                            <h2>{{couple.partner1_name}}</h2>
                        </div>

                        </div class="dashboard-widget">
                            {{!-- add names and wedding ids to this info --}}
                            <h3>Date: {{wedding.date}}</h3> </br>
                            <h3>Location: {{wedding.location}}</h3>
                            <h3>Wedding Details: {{wedding.wedding_details}}</h3>
                            {{!-- possibly include map in widget? --}}
                        </div>
                            {{!-- possibly include another widget for weather?--}}
                    </div>
                </div>

                <div class="col-8 toggle-invites">
                    <div class="dashboard">
                        <div class="dashboard-title">
                            <h2>Invites</h2> </br>
                        </div>

                        <div class="invites-widget">
                            {{! import invites here }}
                        </div>
                    </div>
                </div>

                <div class="col-8 toggle-slide-shows">
                    <div class="dashboard">
                        <div class="dashboard-title">
                            <h2>Slide Shows</h2> </br>
                        </div>

                        <div class="dashboard-widget">
                            {{! import slide shows here }}
                        </div>
                    </div>
                </div>
            </div>
        {{/unless}}
    </div>
</div>

<script src="/javascript/dashboard.js"></script>