<div class="dashboard-page">
        <div class="row">
            <div class="col-4 dashboard-nav-div">
                <div class="profile-pic-div">
                    {{#each couple}}
                    <h5>{{partner1_name}} &</br>
                    {{partner2_name}}</h5>
                    {{/each}}
                </div>

                <div class="nav-btns-div">
                    <button class="dashboard-nav-btn btn">My Wedding</button>
                    <button class="dashboard-nav-btn btn">Slide Show</button>
                </div>
            </div>

            <div class="col-8 dashboard">
                <div class="dashboard-title">
                    <h2>Guest List</h2> </br>
                </div>

                <div class="dashboard-widget-wrapper">
                    <div class="dashboard-widget">
                        <h3> Here's where the individual guest</h3>
                    </div>
                <div>
            </div>
        </div>
    {{/if}}

        <div class="col-8 edit-form">
            <form id="edit-form">
                <h3>Add A Wedding</h3>
                {{#each wedding}}
                <div class="form-group">
                    <label for="wedding-hashtag">Wedding Hashtag</label>
                    <input type="date" class="form-control" id="wedding-date" name="wedding-date" placeholder="{{wedding_date}}">
                </div>

                <div class="form-group">
                                <label for="wedding-hashtag">Enter Your Wedding Hashtag</label>
                                <input type="text" class="form-control" id="wedding-hashtag" placeholder="{{wedding_hashtag}}">
                                <small class="form-text text-muted">RSVP by entering your corresponding Wedding Hashtag</small>
                            </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RSVP?
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Yes</a>
                        <a class="dropdown-item" href="#">No</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Food Choice
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Chicken</a>
                        <a class="dropdown-item" href="#">Steak</a>
                        <a class="dropdown-item" href="#">Fish</a>
                        <a class="dropdown-item" href="#">Veggie</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Food Choice
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Chicken</a>
                        <a class="dropdown-item" href="#">Steak</a>
                        <a class="dropdown-item" href="#">Fish</a>
                        <a class="dropdown-item" href="#">Veggie</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Plus One
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Yes</a>
                        <a class="dropdown-item" href="#">No</a>
                    </div>
                </div>

                <button type="submit" class="btn edit-btn">Add Wedding <i class="far fa-heart"></i></button> 
            </form>
        </div>

        <div class="col-4 logo-signup-div">

            <i class="fas fa-heart"></i>
        </div>
    </div>
</div>


{{!-- Partial for Guestlist Page --}}

{{!-- <div class="dashboard-page">
    {{#if engaged}}
    
        <div class="row">
            <div class="col-4 dashboard-nav-div">
                <div class="profile-pic-div">
                    <img src="#" />
                    {{#each couple}}
                    <h5>{{partner1_name}} &</br>
                    {{partner2_name}}</h5>
                    {{/each}}
                </div>

                <div class="nav-btns-div">
                    <button class="dashboard-nav-btn btn">My Wedding</button>
                    <button class="dashboard-nav-btn btn">Slide Show</button>
                </div>
            </div>

            <div class="col-8 dashboard">
                <div class="dashboard-title">
                    <h2>Guest List</h2> </br>
                </div>

                <div class="dashboard-widget-wrapper">
                    <div class="dashboard-widget">
                        <h3> Here's where the individual guest</h3>
                    </div>
                <div>
            </div>
        </div>
    {{/if}} --}}

     {{#unless engaged}}
        <div class="row">
            <div class="col-4 dashboard-nav-div">
                <div class="profile-pic-div">
                    <img src="#" />
                    <h5>{{full_name}}</h5>  
                </div>

                <div class="nav-btns-div">
                    <a href="" class="dashboard-nav-btn btn">Your Upcoming Weddings</a>
                    <a href="/gallery" class="dashboard-nav-btn btn">Wedding Gallery</a>
                </div>
            </div>

            <div class="col-8 dashboard">
                <div class="dashboard-title">
                    <h2>RSVP</h2>
                </div>

                <div class="dashboard-widget">

                        <form id="edit-form">
                            <h3>Add A Wedding</h3>

                            <div class="form-group">
                                <label for="wedding-hashtag">Enter Your Wedding Hashtag</label>
                                <input type="text" class="form-control" id="wedding-hashtag" placeholder="{{wedding_hashtag}}">
                                <small class="form-text text-muted">RSVP by entering your corresponding Wedding Hashtag</small>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     RSVP?
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Yes</a>
                                    <a class="dropdown-item" href="#">No</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Food Choice
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Chicken</a>
                                    <a class="dropdown-item" href="#">Steak</a>
                                    <a class="dropdown-item" href="#">Fish</a>
                                    <a class="dropdown-item" href="#">Veggie</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="guestlist-food">Enter Your Wedding Details:</label>
                                <textarea type="text" class="form-control" id="guestlist-food" placeholder="{{wedding_details}}"></textarea>
                            </div>
                            {{/each}}

                            <button type="submit" class="btn edit-btn">RSVP <i class="far fa-heart"></i></button> 
                        </form>

                </div>
            </div>
        </div>
    {{/unless}}
</div>

{{!-- <script src="/javascript/dashboard.js"></script> --}}